<nav class="main-nav" aria-label="Основная навигация">
    <NavLink href="" Match="NavLinkMatch.All"><span>01</span><b>Город</b></NavLink>
    <NavLink href="game"><span>02</span><b>Кампания</b></NavLink>
    <NavLink href="guide"><span>03</span><b>Как играть</b></NavLink>
</nav>
