<nav class="main-nav" aria-label="Основная навигация">
    <NavLink href="" Match="NavLinkMatch.All">Город</NavLink>
    <NavLink href="game">Кампания</NavLink>
    <NavLink href="editor">Редактор</NavLink>
    <NavLink href="guide">Справка по блокам</NavLink>
</nav>
